<<<<<<< HEAD
/* .map {
    height: 200px;
    width: 100%;
    background: lightblue;
  } */
=======
.map {
  /* background: blue; */
  /* display: flex; */
}
.something div {
  display: flex;
}
>>>>>>> master
