.MedList {
  /* float: right; */
  color: #180a97;
  background-color: aqua;
}
.medlist {
  padding: 14px;
  /* background-image: url("../Jumbotron/sky3.png"); */
  /* background-repeat: no-repeat; */
  background-color: rgba(02, 152, 217, 1.0);
  border-style: solid;
  border-radius: 15px;
  border-color: rgb(122, 122, 122);
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  /* overflow: hidden;
  background-color: rgb(216, 29, 29); */
}
.collapse .navbar-collapse{
  text-align: right;
}

.deletebtn {
  float: right;
  color: #180a97;
  padding : 5px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  background-image: linear-gradient(white,lightgrey);
}

.deletebtn:hover {
  background-image: (white);
}