.MedList {
  /* float: right; */
  color: #180a97;
  background-color: aqua;
}
.medlist {
  padding: 14px;
  /* background-color: teal; */
  border-style: solid;
  border-radius: 5px;
  border-color: whitesmoke;
}
.navbar {
  overflow: hidden;
  background-color: rgb(43, 17, 17);
  /* position: fixed; */
  top: 0;
  width: 100%;
  float: right;
}

.navbar a:hover {
  background: add;
  color: teal ;
}
