.MedList {
  /* float: right; */
  color: #180a97;
  background-color: aqua;
}
.medlist {
  padding: 14px;
  /* background-color: teal; */
  border-style: solid;
  border-radius: 5px;
  border-color: whitesmoke;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  /* overflow: hidden;
  background-color: rgb(216, 29, 29); */
}