.carousel .slide img {
    height: 602px;
    width: 100%;
    vertical-align: top;
    border: 0;
}

.carousel .slide .legend {
   font-size: 62px !important;
   background: rgba(02, 152, 217, 0.7)!important;
}