.largeResults {
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
	background-color: white;
	display: none;
	/*padding: 10px;*/
	height: 245px;
	overflow: hidden;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
	border-radius: 15px;
	font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
	font-size: 18px;
}

.smallResults {
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
	background-color: white;
	display: none;
	/*padding: 10px;*/
	margin-bottom: 50px;
	height: 245px;
	overflow: hidden;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
	border-radius: 15px;
	font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
	font-size: 18px;
}

.showMore {
	border-radius: 5px;
	border-color: lightgrey;
	border-width: 1px;
	margin-top: 5px;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
	background-color: whitesmoke;
	width: 25%;
	height: 35px;
}

.showLess {
	border-radius: 5px;
	border-color: lightgrey;
	border-width: 1px;
	margin-top: 5px;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	*/
	background-color: whitesmoke;
	width: 25%;
	height: 35px;
}

.submit {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	width: 100%;
	height: 50px;
}

.largeResults:hover, .smallResults:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}
.showMore:hover, .showLess:hover {
	background-image: linear-gradient(grey,lightgrey);
}
.DrugLabel {
	background-color: rgba(02, 152, 217, 1.0);
	padding: 5px; 
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.DrugInfo, .DrugLocation {
	padding: 15px;
}
h2 {
	margin-bottom: 15px;
}

#generic, #countryLoc {
	font-weight: bold;
	font-size : 20px;
}

.backimage{
	background-image: url("polaroid.png");
	background-size: 100px 100px;
}

.flag1{
	background: url("USAFlag.png");
	padding: 50px;
	margin-bottom: 0px;
	background-repeat: no-repeat;
	background-size: 550px 350px;
	opacity: 0.7;	
}

.flag2{
	background-image: url("EUFlag.png");
	padding: 50px;
	margin-bottom: 0px;
	background-repeat: no-repeat;
	background-size: 550px 200px;	
	opacity: 0.7;
}

.form-control{
	width: 76%;
}
.allDrugsShow {
	background-color: whitesmoke;
	width: 100%;
	min-height: 175px;
	padding : 20px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: none;
	position: relative;
	z-index: 1111;
	margin-top: 50px;
/*	position: fixed;
	top: 21%;
	left: 27%;*/
	overflow: visible;
}

.closeBtn {
	margin-top: 15px;
	border-radius: 10px;
	border: none;
	background-color: whitesmoke;
	font-size: 25px;
	font-weight: bolder;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
.titleDrug {
	margin-bottom: 10px;
	padding: 10px;
	font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
	font-size: 18px;
	font-weight: bold;
}
#mainButtonRow {
	height: 75px;
}