.largeResults {
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
	background-color: white;
	display: none;
	/*padding: 10px;*/
	margin-bottom: 10px;
	height: 245px;
	overflow: hidden;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
	border-radius: 15px;
	font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
	font-size: 18px;
}

.smallResults {
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
	background-color: white;
	display: none;
	/*padding: 10px;*/
	margin-bottom: 10px;
	height: 245px;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
	font-size: 18px;
}

.showMore {
	border-radius: 10px;
	border-color: grey;
	border-width: 1px;
	margin-top: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-image: linear-gradient(white,lightgrey);
}

.showLess {
	border-radius: 10px;
	border-color: grey;
	border-width: 1px;
	margin-top: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
	background-image: linear-gradient(white,lightgrey);
}

.submit {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.largeResults:hover, .smallResults:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}
.showMore:hover, .showLess:hover {
	background-image: linear-gradient(grey,lightgrey);
}
.DrugLabel {
	background-color: rgba(02, 152, 217, 1.0);
	padding: 5px; 
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.DrugInfo, .DrugLocation {
	padding: 15px;
}
h2 {
	margin-bottom: 15px;
}

#generic, #countryLoc {
	font-weight: bold;
	font-size : 20px;
}

.backimage{
	background-image: url("polaroid.png");
	background-size: 100px 100px;
}

.flag1{
	background: url("USAFlag.png");
	padding: 50px;
	margin-bottom: 0px;
	background-repeat: no-repeat;
	background-size: 550px 350px;
	opacity: 0.7;	
}

.flag2{
	background-image: url("EUFlag.png");
	padding: 50px;
	margin-bottom: 0px;
	background-repeat: no-repeat;
	background-size: 550px 200px;	
	opacity: 0.7;
}

