.largeResults {
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
	background-color: lightgrey;
	display: none;
	padding: 10px;
	margin-bottom: 10px;
	height: 110px;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 15px;
	font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
	font-size: 18px;
}

.showMore {
	border-radius: 10px;
	border-color: grey;
	border-width: 1px;
	margin-top: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.showLess {
	border-radius: 10px;
	border-color: grey;
	border-width: 1px;
	margin-top: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}