.navbar-fixed-bottom {
  bottom: -640px;
  /* background-color: teal; */
  background-image: url("../Jumbotron/sky3.png");
  background-size: cover;
  position: relative;
  height: 250px;
  text-align: center;
}
